*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
}

/* Reusable styles */
.container {
    width: 100%;
    padding: 1rem 1.5rem;
}

.divider {
    border: 1px solid lightslategray;
    margin: 1rem -0.8rem;
}

/* Styles goes here */
.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-wrapper > * {
    width: 100%;
}

header {
    font-family: "Share Tech Mono", monospace;
    background-color: #4896fc;
    box-shadow: 0px 0px 8px 3px rgba(176, 176, 176, 0.75);
    -webkit-box-shadow: 0px 0px 8px 3px rgba(176, 176, 176, 0.75);
    -moz-box-shadow: 0px 0px 8px 3px rgba(176, 176, 176, 0.75);
}

header .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 1.25rem;
    margin-right: 0.5rem;
}

header .typewriter-content {
    display: inline-block;
    overflow: hidden;
    font-size: 0.725rem;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

main {
    overflow: hidden;
    padding: 2rem;
}

main .container {
    border-radius: 4px;
    box-shadow: 0px 0px 8px 3px rgba(209, 209, 209, 0.66);
    -webkit-box-shadow: 0px 0px 8px 3px rgba(209, 209, 209, 0.66);
    -moz-box-shadow: 0px 0px 8px 3px rgba(209, 209, 209, 0.66);
}

main .greeting-wrapper h1,
main .greeting-wrapper p {
    text-align: center;
}

main .greeting-wrapper h1 {
    font-size: 1.15rem;
    margin-bottom: 0.5rem;
}

main .greeting-wrapper p {
    font-size: 0.725rem;
    padding: 0.5rem 0.35rem;
}

main .shape-wrapper {
    margin-top: 1.5rem;
}

main .shape-wrapper {
    text-align: center;
}

main .shape-description {
    margin-top: 1rem;
}

main .shape-description span {
    font-size: 12px;
}

/* Form style */

.calculator-wrapper #calculatorForm label {
    color: #1d1d1d;
    font-size: 12px;
}

.calculator-wrapper #calculatorForm input {
    width: 100%;
    border: 0;
    outline: 0;
    color: rgb(60, 66, 87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
        rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px,
        rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
        rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 4px 8px;
    min-height: 28px;
    vertical-align: middle;
    transition: background-color 0.24s, box-shadow 0.24s;
}

.calculator-wrapper #calculatorForm input:focus {
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px,
        rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
        rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
        rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
}

.calculator-wrapper #calculatorForm button {
    border: 0;
    outline: 0;
    cursor: pointer;
    color: white;
    margin-top: 1rem;
    background-color: rgb(84, 105, 212);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
        rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px,
        rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
        rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 8px;
    display: inline-block;
    min-height: 28px;
    transition: background-color 0.24s, box-shadow 0.24s;
}

.calculator-wrapper #calculatorForm button:hover {
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px,
        rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px,
        rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px,
        rgb(60 66 87 / 8%) 0px 2px 5px 0px;
}

.result-wrapper {
    margin-top: 1.5rem;
}

.result-wrapper h1 {
    font-size: 1rem;
    text-align: center;
}

/* Canvas shape */
canvas {
    border: 3px solid #e4f121;
}

/* Animation effects */
/* The typing effect */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}
